{%extends 'blog/base.html'%}
{%block title%}
Detail
{%endblock%}

{%block content%}
<article class="media content-section">
		<img src="{{post.author.profile.image.url}}" alt="" class = "rounded-circle article-image">
		<div class="media-body">
				<div class="article-metadata">
						<a class="mr-2" href="#">{{ object.author }}</a>
						<small class="text-muted">{{ object.date_posted|date:"F d,Y"}}</small>

						{% if object.author == user %}
						<div>
								<a class="btn btn-secondary" href="{%url 'post-update' object.pk%}">Update</a>
								<a class="btn btn-danger" href="{%url 'post-delete' object.pk%}">Delete</a>
						</div>
						{% endif %}
				</div>
				<h2 class="article-title" >{{ object.title }}</h2>
				<p class="article-content">{{ object.content }}</p>
		</div>
</article>
{%endblock%}
